{
    "jwtSecret": "XXXXXXXXXXXXX",
    "twitter": {
        "consumerKey": "XXXXXXXXXXXXX",
        "consumerSecret": "XXXXXXXXXXXXX",
    },
    "game": {
        "lol": {
            "apiKey": "XXXXXXXXXXXXX"
        }
    }
}